aws_region   = "us-east-1"
project_name = "cipolflo"
environment  = "staging"

db_name     = "CIPOLFLO_BD"
db_username = ""
db_password = ""

auth0_issuer_uri = ""
auth0_audience   = ""
auth0_domain     = ""
auth0_client_id  = ""

azure_document_intelligence_endpoint = ""
azure_document_intelligence_key      = ""

mail_username = ""
mail_password = ""
reporte_reservas_destinatario = ""

telegram_bot_token      = ""
telegram_webhook_secret = ""

ai_api_key = ""
